.call-controls {
    display: flex;
    align-items: center;
    justify-content: center;

    .buttons {
        display: flex;
        justify-content: space-around;
        width: 300px;
        font-size: 2rem;

        .button {
            border: 1px solid #fff;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            display: flex;
            vertical-align: middle;
            justify-content: center;
            align-items: center;
            background-color: #BEE3DB;
            cursor: pointer;
            transition: 0.5s ease-in;
        }

        .button:hover {
            background-color: #389ce8;
            border: 1px solid #007fe0;
            transition: 0.2s ease-out;
        }
    }
}