@import "~/src/assets/styles/colors.scss";

.landing {
	color: $default-font-color;
	min-height: 100%;
    width: 100%;
	background: $background-gradient;
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;

    .title {
		padding-top: 2%;
		padding-bottom: 2%;
		display: flex;
		justify-content: center;
		align-items: center;
        span {
			font-size: 2rem;
            text-align: center;
        }
    }

	hr.style-seven {
		border: 0;
		height: 0; /* Firefox... */
		box-shadow: 0 0 10px 1px $default-font-color;
	}
	hr.style-seven:after {  /* Not really supposed to work, but does */
		content: "\00a0";  /* Prevent margin collapse */
	}

	.info {
		padding-left: 20%;
		padding-right: 20%;
		padding-bottom: 1%;
		padding-top: 1%;
	}

	.options {
		padding-top: 2%;
		
		.title {
			span {
				font-size: 1.5rem;
			}
		}
		
		.card-container {
			margin-top: 2%;
			display: flex;
			justify-content: space-evenly;
			.custom-card {
				height: 250px;
				width: 200px;
				border: 1px solid #fff;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 10px;
				cursor: pointer;
				span {
					font-size: 1rem;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media screen and (max-width: 480px) {
	.landing {
		.title {
			padding-top: 8%;
			padding-bottom: 8%;
		}
		.options {
			.card-container {
				margin-top: 5%;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				.custom-card {
					margin-bottom: 5%;
				}
			}
		}
	}
}