/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;

    font-family: 'Roboto', sans-serif;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
